<div class="footer">
  <div class="inner_footer">
    <div class="logo_container">
      <img src="" alt="Mylogo" />
    </div>
    <div class="footer_third">
      <h1>Need help?</h1>
      <a href="#">Terms &amp; Conditions</a>
      <a href="#">Privacy Policy</a>
    </div>
    <div class="footer_third">
      <h1>More</h1>
      <a href="#">Brouchures</a>
      <a href="#">Donate</a>
      <a href="#">Impact reports</a>
      <a href="#">Governance</a>
    </div>
    <div class="footer_third">
      <h1>Follow us</h1>
      <li>
        <a href="#"><i class="fa fa-facebook"></i></a>
      </li>
      <span>
        World Merit Registered E-Commerce Organization<br />
        England & Wales - 1161402<br />
        United sea, The Tea Factory<br />
        82 Wood Street<br />
        Liverpool<br />
        L1 4DQ<br />
      </span>
    </div>
  </div>
</div>
